html, body {
    height: 100%;
}

body {
    min-width: 1000px;
    width: auto !important;
}

canvas#canvas {
    border: 1px solid gray;
}

div.flex {
    display: flex;
}

div.side-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
}

div#area-div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

p#note {
    font-size: 10pt;
}

div#area-div textarea {
    flex-grow: 1;
    resize: none;
    font-size: 10pt;
}

div.flex div.side {
    flex-grow: 1;
    margin: 10px 20px;
}

.center-vert {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-vert div {
    width: 200px;
}

div.footer-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}

div.footer-flex section {
    flex: 1 0 auto;
}

div.footer-flex footer {
    flex-shrink: 0;
    padding: 1rem;
}

div#title-with-link {
    display: flex;
    justify-items: center;
    align-items: baseline;
    margin-bottom: 15px;
}

div#title-with-link h1 {
    display: inline;
    margin: 0;
    font-family: "Ubuntu Mono", monospace;
}

div#title-with-link a {
    margin-left: 25px;
    font-weight: bolder;
    font-family: "Ubuntu Mono", monospace;
}

div#file-span {
    display: flex;
    width: 100%;
}

div#file-span .file {
    flex-grow: 1;
}

div#file-span a {
    margin-left: 10px;
}